gunicorn
Flask==3.1.1
Flask-Session
google-cloud-datacatalog==3.27.1
google-cloud-dataplex==2.10.2
google-cloud-bigquery==3.33.0
google-cloud-core
google-cloud-firestore==2.20.2
google-cloud-storage
google-cloud-tasks==2.19.1
google-cloud-pubsub
google-cloud-resource-manager
google-cloud-logging
google-api-python-client
pytz
jsonlines
google-auth-oauthlib
google-auth
oauth2client
requests
cachelib
pyyaml
