gunicorn
Flask==2.3.2
Flask-Session
google-cloud-datacatalog==3.19.0
google-cloud-dataplex==2.2.0
google-cloud-bigquery==3.19.0
google-cloud-core
google-cloud-firestore==2.15.0
google-cloud-storage
google-cloud-tasks==2.16.3
google-cloud-pubsub
google-cloud-resource-manager
google-cloud-logging
google-api-python-client
pytz
pandas
pyarrow
jsonlines
google-auth-oauthlib
google-auth
oauth2client
requests
cachelib
