gunicorn
Flask==2.2.3
google-cloud-datacatalog==3.11.1
google-cloud-bigquery
google-cloud-core
google-cloud-firestore==2.10.0
google-cloud-storage
google-cloud-tasks==2.13.1
google-cloud-pubsub
google-cloud-resource-manager
google-api-python-client
pytz
pandas
pyarrow
jsonlines
google-auth
requests
