<html>
 <head>
   <title>Import Config Created</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
      {% if status == -1 %}
      <table><tr><td>
      &nbsp;<span style="color:red;">Errors occurred while processing your submission. Please check Firestore for details. </span>
        </td></tr></table><p>
      {% endif %}
	 
   <div class="pagetitle">
   <h1>Config Created</h1>
    </div>
       <div id="main">
          <h5>&nbsp;Your config has been created with these values:</h5>
	   
           <span style="color:#0b5394;">Config Id:</span> {{ config_uuid }} <br>
 		   <span style="color:#0b5394;">Config Type:</span> {{ config_type }} <br><br>
		  
 		   <span style="color:#0b5394;">Tag Template Id:</span> {{ template_id }} <br>
           <span style="color:#0b5394;">Tag Template Project:</span> {{ template_project }} <br>
           <span style="color:#0b5394;">Tag Template Region:</span> {{ template_region }} <br><br>
		   
		   <span style="color:#0b5394;">Data Asset Type:</span> {{ data_asset_type }} <br>
		   <span style="color:#0b5394;">Data Asset Region:</span> {{ data_asset_region }} <br>
 		   
 		 <p></p>
		 <span style="color:#0b5394;">Metadata Import Location:</span><br>
		   {{ metadata_import_location }} 
   		 <p></p>
		<span style="color:#0b5394;">Tag History Option</span>: {{ tag_history }}<br>
	 	</p></p>
	 	  <p>
		<span style="color:#0b5394;">Service Account:</span> {{ service_account }} <br>	  
          <h5>
	      &nbsp;Click on Trigger Job to run this configuration.<br>
	 	  &nbsp;Click on View Configs to see and edit all your configurations in Tag Engine.<br>
	 	  &nbsp;Click on Return Home to go back to the initial landing page.<br>
	       </h5> 
	 	  <form method="post" action="/process_created_config_action">	   	  
	        <table>
	        <tr>
	    		<td><input type="submit" value="Trigger Job" name="action">
	        	 	<input type="submit" value="View Existing Configs" name="action">
	 			<input type="submit" value="Return Home" name="action">
			
	 		   <input type="hidden" name="config_uuid" value="{{ config_uuid }}">
	 		   <input type="hidden" name="config_type" value="{{ config_type }}">
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="template_project" value="{{ template_project }}">
			   <input type="hidden" name="template_region" value="{{ template_region }}">
	 		   <input type="hidden" name="service_account" value="{{ service_account }}">
	    		</td>
	        </tr>
	        </table>	
	 	  </p>
	      </div>
	    </div>
	  </body>
	 </html>
	  