<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine</h1>
        </div>
	   <div class="header">
	   <h2>Create dynamic tag config using {{ template_id }}</h2>
	   <span style="color:#9d9a9a;">
		   <h6>To include a field in your tag, click on the checkbox next to the field and enter a query expression for the field in the text box. <br>
			   <br>
			   The query expression must be a valid select statement in BQ. It can contain aggregate functions, joins, filters, groupings, etc. <br>
			   <br>
			   To refer to the table being tagged, use the <b>$table</b> variable. To refer to the column being tagged, use the <b>$column</b> variable. <br>
			   <br>
			   Here are a few examples: <br>
			   select count(*) from $table<br>
			   select count(distinct($column)) from $table <br>
			   select count(*) > 1 from $table where $column is null<br>
			   select score from my-project.my-dataset.my-table where score = '$table'<br>
			    <br>
			   Note: The result of the query expression must satisfy the type requirements of the field in the tag template. <br>
			   For example, if the tag template field is of type string, the query expression must return a string type.<br><br>
			   
		    <br><br>Mandatory template fields are marked by <span style="color:red;">*</span> and are already checked for you.
		    </h6>
	  </span>
	   </div>
         <form method="post" action="/process_dynamic_tag">
		    <table>
			   {% for dict_field in fields %}
		        <tr>
		          <td>
				{% if dict_field['is_required'] == True %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}" checked>
				{% else: %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}">
				{% endif %}
				</td>
				<td>
				{% if dict_field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ dict_field['field_id'] }} (type {{ dict_field['field_type'] }}):
				</td>
				<td>
				<input type="text" value="select ..." name="{{ dict_field['field_id'] }}" style="width: 500px;padding: 3px;">
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h2>Choose Rules</h2>
		 	   <span style="color:#9d9a9a;">
		 		   <h6>Specify URIs for resources to include in or exclude from your dynamic tag. Wildcards are allowed. <br><br>
					  Supported URIs for BigQuery resources: <br>
					  bigquery/project/{project_id}/dataset/{dataset}/* <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table} <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table}/{column} </h6>
				</span>
			    <table>
			     <tr>
			    <td>Included URIs:&nbsp;&nbsp;
			    				<textarea name="included_uris" style="align-content:left; overflow:auto;">
bigquery/project/{{ project_id }}/dataset/{dataset}/*, bigquery/project/{{ project_id }}/dataset/{dataset}/{table}*, bigquery/project/{{ project_id }}/dataset/{dataset}/{table}/{column}
			    				</textarea></td>
			     </tr>
			     <tr><td>&nbsp;</td></tr>
 				<tr>
 			    <td>Excluded URIs:&nbsp;
			    		          <textarea name="excluded_uris" style="align-content:left; overflow:auto;">
bigquery/project/{{ project_id }}/dataset/{dataset}/*, bigquery/project/{{ project_id }}/dataset/{dataset}/{table}*, bigquery/project/{{ project_id }}/dataset/{dataset}/{table}/{column}
			    		          </textarea>
			    </td>
 		         </tr>		        
			     <tr><td>&nbsp;</td></tr>
				<tr>	
			    <td>Refresh frequency: <input type="text" value="24" name="refresh_frequency" style="width: 30px;padding: 3px;"> hours.</td>
		         </tr>
			    {% if display_export_option == 1 %}
			    <tr><td>&nbsp;</td></tr>
			    <tr><td><input type="checkbox" class="form-control move-left" name="export" value="selected" checked>
				    Save tag history to BigQuery&nbsp;&nbsp;
			    </td></tr>
			    {% endif %}
		        </table>
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Tag Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
			   <input type="hidden" name ="template_id" value="{{ template_id }}">
			   <input type="hidden" name ="project_id" value="{{ project_id }}">
			   <input type="hidden" name ="region" value="{{ region }}">

			   {% for dict_field in fields %}
			   	<input type="hidden" name="{{ dict_field['field_id'] }}_type" value="{{ dict_field['field_type'] }}">
			    {% endfor %}	

         </form>
    </body>
</html>
