<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Create Config</h1>
       </div>
  	  <table>
  		  <tr><td>&nbsp;<span style="color:#0b5394;">Template Id:</span> {{ template_id }}</td></tr>
 		  <tr><td>&nbsp;<span style="color:#0b5394;">Template Project:</span> {{ template_project }}</td></tr>
 		  <tr><td>&nbsp;<span style="color:#0b5394;">Template Region:</span> {{ template_region }}</td></tr>
 		  <tr><td>&nbsp;<span style="color:#0b5394;">Service Account:</span> {{ service_account }}</td></tr>
 		  <tr><td>&nbsp;<span style="color:#0b5394;">Config Type:</span> DYNAMIC_TAG_TABLE</td></tr>
  	  </table>

	   <h3>Tag Template Fields</h3>
 	   
 		   <h5 style="width: 800px;">To include a field in your tag, click on the checkbox next to the field and enter a query expression in the text box. <br>
 			   <br>
 			   The query expression must be a <i>valid</i> select statement in BigQuery. It may contain filter, aggregate functions, joins, groupings, subqueries, etc. as long as it's a valid select statement. Please consult the documentation for example queries.<br>
 			   
 		    <br><br>Mandatory fields are marked by <span style="color:red;">*</span>.
 		    </h5>
         <form method="post" action="/process_dynamic_table_config">
		    <table>
			   {% for dict_field in fields %}
		        <tr>
		          <td>
				{% if dict_field['is_required'] == True %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}" checked>
				{% else: %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}">
				{% endif %}
				</td>
				<td>
				{% if dict_field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ dict_field['field_id'] }} (type {{ dict_field['field_type'] }}):
				</td>
				<td>
				<textarea name="{{ dict_field['field_id'] }}" style="align-content:left; width: 600px; overflow:auto;">select ...
				</textarea>
				</td>
			   </tr>
			   {% endfor %}
			   </table>
			   <p>&nbsp;</p>
			   <h3>BigQuery Tables</h3>
		 	   
		 		   <h5>Specify one or more URIs to include in or exclude from your dynamic config. Wildcards are allowed in the table name. <br><br>
					  Supported URI syntax: <br>
					  bigquery/project/[PROJECT]/* <br>
					  bigquery/project/[PROJECT]/dataset/[DATASET]/* <br>
				      bigquery/project/[PROJECT]/dataset/[DATASET]/[TABLE] <br>
				  </h5>
			    <table>
			     <tr>
			    <td><span style="color:red;">*</span> Included Tables URIs:&nbsp;&nbsp;
			    	  <input type="text" value="bigquery/project/[PROJECT]/dataset/[DATASET]/*" name="included_tables_uris" style="align-content:left; width: 700px; overflow:auto;"/>

			    	</td>
			     </tr>
			     <tr><td>&nbsp;</td></tr>
 				<tr>
 			    <td>&nbsp;Excluded Tables URIs:&nbsp;
			    	  <input type="text" name="excluded_tables_uris" style="align-content:left; width: 700px; overflow:auto;"/>			 
			    </td>
 		         </tr>
		    </table>
		        <p>&nbsp;</p>
			   <h3>Scheduling Options</h3>

		 		   <h5>If you choose the AUTO refresh mode, your tags will be scheduled for update based on your specified refresh frequency. <br>
					   If you choose the ON-DEMAND refresh mode, your tags will <b>not</b> be scheduled for refresh (even if you specify a refresh frequency). <br>This mode is useful when you have tags that don't need to be updated or when you want to trigger the update from the API. <br><br>
				   </h5>

			     <table>
				<tr>	
			    <td><span style="color:red;">*</span> Refresh Mode:&nbsp;<select name="refresh_mode" style="width: 100px;padding: 3px;">
  				  				<option value="AUTO" selected>AUTO</option>
  							   	<option value="ON-DEMAND">ON-DEMAND</option>
							  </select>
			    </td>
		         </tr>
			     <tr><td>&nbsp;</td></tr>
				<tr>	
			    <td>Refresh Frequency:&nbsp;<input type="text" value="24" name="refresh_frequency" style="width: 30px;padding: 3px;">&nbsp;
				    			  <select name="refresh_unit" style="width: 70px;padding: 3px;">
								<option value="minutes">minutes</option>
  				  				<option value="hours" selected>hours</option>
  							   	<option value="days">days</option>
							  </select></td>
		         </tr>
		        </table>
			    {% if display_tag_history %}
			      <p>&nbsp;</p>
				<h3>Tag History Option</h3>
			    <table>
			    <tr><td><span style="color:red;">*</span> <input type="checkbox" class="form-control move-left" name="tag_history" value="selected" checked>
				    Save tag values from this config to BigQuery tag history table.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
			    {% if display_tag_stream %}
			      <p>&nbsp;</p>
				<h3>Tag Stream Option</h3>
			    <table>
			    <tr><td><span style="color:red;">*</span> <input type="checkbox" class="form-control move-left" name="tag_stream" value="selected" checked>
				    Publish tag values from this config to Pub/Sub tag stream topic.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Create Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
			   <input type="hidden" name ="template_id" value="{{ template_id }}">
			   <input type="hidden" name ="template_project" value="{{ template_project }}">
			   <input type="hidden" name ="template_region" value="{{ template_region }}">
			   <input type="hidden" name ="service_account" value="{{ service_account }}">

			   {% for dict_field in fields %}
			   	<input type="hidden" name="{{ dict_field['field_id'] }}_datatype" value="{{ dict_field['field_type'] }}">
			    {% endfor %}	

         </form>
    </body>
</html>
