<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine for Data Catalog</h1>
        </div>
	   <div class="header">
	   <h2>Create GCS entry config with {{ template_id }}</h2>
	   <span style="color:#9d9a9a;">
	  </span>
	   </div>
	   <h3>Choose Tag Template Fields</h3>
	   <h5 style="width: 500px;">To include a field in the tag, click on the checkbox next to the field. The tag will be created with the selected fields. <br><br>
	   
	   Mandatory template fields are marked by <span style="color:red;">*</span> and are already checked for you. 
	   </h5>
         <form method="post" action="/process_entry_config">
		    <table>
			   {% for dict_field in fields %}
		        <tr>
		          <td>
				{% if dict_field['is_required'] == True %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}" checked>
				{% else: %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}">
				{% endif %}
				</td>
				<td>
				{% if dict_field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ dict_field['field_id'] }}
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h3>Enter URIs</h3>
		 	   
			   <span style="color:#9d9a9a;"><h5>
			   Specify a comma-separated list of URIs for file paths to include in and exclude from your entry config. Wildcards are allowed in the path name. <br><br>
					  Supported URIs for GCS files: <br>
					    gs://my-bucket/my-folder/* <br>
				        gs://my-bucket/my-folder/*.parquet <br>
					    gs://my-bucket/my-folderA/my-folderB/* <br>
				        </h5>
				</span>
				    <table>
				     <tr>
				    <td><span style="color:red;">*</span> Included URIs:&nbsp;&nbsp;
				    	  <input type="text" value="gs://" name="included_uris" style="align-content:left; width: 700px; overflow:auto;"/>

				    	</td>
				     </tr>
				     <tr><td>&nbsp;</td></tr>
	 				<tr>
	 			    <td>&nbsp;&nbsp;Excluded URIs:&nbsp;
				    	  <input type="text" name="excluded_uris" style="align-content:left; width: 700px; overflow:auto;"/>			 
				    </td>
	 		         </tr>
			    </table>
 		        <p>&nbsp;</p>
 			   <h3>Choose Update Options</h3>
 		 	   <span style="color:#9d9a9a;">
 		 		   <h5>If you choose the AUTO refresh mode, your entry config will be scheduled for updates based on your specified refresh frequency. <br>
 					   If you choose the ON-DEMAND refresh mode, your entry config will <b>not</b> be scheduled for updates (even if you specify a refresh frequency). <br>This mode is useful when no new files get added to your dataset on a regular basis or when you want to control the cataloging of new files through the Tag Engine API. <br><br>
 				   </h5>
 				</span>
 			     <table>
 				<tr>	
 			    <td><span style="color:red;">*</span> Refresh mode:&nbsp;<select name="refresh_mode" style="width: 100px;padding: 3px;">
   				  				<option value="AUTO" selected>AUTO</option>
   							   	<option value="ON-DEMAND">ON-DEMAND</option>
 							  </select>
 			    </td>
 		         </tr>
 			     <tr><td>&nbsp;</td></tr>
 				<tr>	
 			    <td><span style="color:red;">*</span> Refresh frequency:&nbsp;<input type="text" value="24" name="refresh_frequency" style="width: 30px;padding: 3px;">&nbsp;
 				    			  <select name="refresh_unit" style="width: 70px;padding: 3px;">
   				  				<option value="hours" selected>hours</option>
   							   	<option value="days">days</option>
 							  </select></td>
 		         </tr>
 		        </table>
			    {% if display_tag_history %}
			      <p>&nbsp;</p>
				<h3>Choose Tag History Option</h3>
			    <table>
			    <tr><td><input type="checkbox" class="form-control move-left" name="tag_history" value="selected" checked>
				    Save tag values from this config to BigQuery tag history table.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
			    {% if display_tag_stream %}
			      <p>&nbsp;</p>
				<h3>Choose Tag Stream Option</h3>
			    <table>
			    <tr><td><input type="checkbox" class="form-control move-left" name="tag_stream" value="selected" checked>
				    Publish tag values from this config to Pub/Sub tag stream topic.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Entry Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="project_id" value="{{ project_id }}">
			   <input type="hidden" name="region" value="{{ region }}">
			   
			   {% for dict_field in fields %}
			   	<input type="hidden" name="{{ dict_field['field_id'] }}_datatype" value="{{ dict_field['field_type'] }}">
			    {% endfor %}	   
         </form>
    </body>
</html>
