<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine for Data Catalog</h1>
        </div>
	   <div class="header">
	   <h2>Create an Export Config using Projects or Folder</h2>
	   </div>
	   <h5>The export config lets you export your Data Catalog tags into BigQuery. It generates three output tables in BigQuery,<br> 
		   one for dataset-level tags, another for table and view level tags, and a third for column-level tags. <br>
		   These tables can be used to source curation boards and other business intelligence reports.</h5>
	   
	   <form method="post" action="/process_export_config"> 

	   <h3>Source Project Details</h3>
 	   <h5>		   
	  
	   Enter the details on the projects where the tagged assets reside. Provide a comma-separated list of project ids or a single folder id. <br>Note: The folder id must be a numeric value (do not use the folder name). The source region is the location of your tagged assets. 
	   <br>Each export configuration is scoped to one storage region.  

   		</h5>
   	<table>
   	<tr>
       <td>&nbsp;&nbsp;Source projects:&nbsp;</td>
	   <td>
       	  <input type="text" name="source_projects" style="width: 380px;padding: 3px;"/>			 
       </td>
       </tr>
   	<tr>
       <td>&nbsp;&nbsp;Source folder:&nbsp;</td>
	   <td>
       	  <input type="text" name="source_folder" style="width: 120px;padding: 3px;"/>			 
       </td>
       </tr>
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Source region:&nbsp;</td>
	   <td>
       	  <input type="text" name="source_region" style="width: 120px;padding: 3px;"/>			 
       </td>
       </tr>
	    <tr>
	      <td>&nbsp;<span style="color:red;">*</span>&nbsp;Service Account:</td>
	      <td><input type="text" name="service_account" style="width: 350px;padding: 3px;"></td>
	   </tr>
       </table>
		<p>&nbsp;</p>
		<h3>Target Dataset Details</h3>
		 	   <h5>		   
  			  
			   Enter the BigQuery project, dataset, and region to write the exported tags into. <br>
			   Make sure your target dataset exists before submitting this configuration.<br>
			   The write option lets you decide what to do when a new export job runs, 
			   <br>you can either truncate the target tables between each run or append new records into those tables. 
		   		</h5>
				<table>
				     <tr>
				    <td><span style="color:red;">*</span>&nbsp;Target project:&nbsp;&nbsp;&nbsp;
				    	  <input type="text" name="target_project" style="align-content:left; width: 120px; overflow:auto;"/>

				    	</td>
				     </tr>
 				     <tr>
 				    <td><span style="color:red;">*</span>&nbsp;Target dataset:&nbsp;&nbsp;
 				    	  <input type="text" name="target_dataset" style="align-content:left; width: 120px; overflow:auto;"/>
 				    	</td>
 				     </tr>
  				     <tr>
  				    <td><span style="color:red;">*</span>&nbsp;Target region:&nbsp;&nbsp;
  				    	  <input type="text" name="target_region" style="align-content:left; width: 120px; overflow:auto;"/>
  				    	</td>
  				     </tr>
		 			<tr>	
		 		    <td><span style="color:red;">*</span> Write option:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<select name="write_option" style="width: 100px;padding: 3px;">
		  				  				<option value="truncate" selected>truncate</option>
		  							   	<option value="append">append</option>
		 						  </select>
		 		    </td>
		 	         </tr>
			    </table>
				
	
	        <p>&nbsp;</p>
		   <h3>Scheduling Options</h3>
	 	   
	 		   <h5>If you choose the AUTO refresh mode, your export config will be scheduled to run based on your specified refresh frequency. <br>
				   If you choose the ON-DEMAND refresh mode, your export config will <b>not</b> be scheduled (even if you specify a refresh frequency). <br>The AUTO mode is helpful for exporting your tags on a recurring schedule. <br><br>
			   </h5>
			
		     <table>
			<tr>	
		    <td><span style="color:red;">*</span> Refresh mode:&nbsp;<select name="refresh_mode" style="width: 100px;padding: 3px;">
 				  				<option value="AUTO" selected>AUTO</option>
 							   	<option value="ON-DEMAND">ON-DEMAND</option>
						  </select>
		    </td>
	         </tr>
			<tr>	
		    <td><span style="color:red;">*</span> Refresh frequency:&nbsp;<input type="text" value="24" name="refresh_frequency" style="width: 30px;padding: 3px;">&nbsp;
			    			  <select name="refresh_unit" style="width: 70px;padding: 3px;">
								<option value="minutes">minutes</option>
 				  				<option value="hours" selected>hours</option>
 							   	<option value="days">days</option>
						  </select></td>
	         </tr>
	        </table>	
			    
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td>
				   <input type="hidden" name="service_account" value="{{ service_account }}">
				   <input type="submit" value="Submit Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>	   
         </form>
    </body>
</html>
