<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine for Data Catalog</h1>
        </div>
	   <div class="header">
	   <h2>Create import config using {{ template_id }}</h2>
	   
		   <h3>To import your tags from a CSV, you need to follow this format:</h3>

		   <h5>
  			   &nbsp;The top line of the CSV file is reserved for column headers. These headers must be:<br>
  			   &nbsp;&nbsp;- <b>project</b> The BigQuery project of the data asset you want to tag.<br>
  			   &nbsp;&nbsp;- <b>dataset</b> The BigQuery dataset of the data asset you want to tag.<br>
  			   &nbsp;&nbsp;- <b>table</b> The name of the data asset you want to tag. This is typically a BQ table, but it can also be a BQ view. <br>
  			   &nbsp;&nbsp;- <b>column</b> The name of the BQ column you want to tag. This field is only needed if you are creating a column-level tag. If you are creating a table-level tag, leave out this field. <br>
			   <br>
			   &nbsp;The remaining headers are for the tag template fields. You should have one header per tag template field to be included in the tag. Note: all the fields in a CSV file must be from the same tag template. 
			   <br>
			   &nbsp;Populate the tag values starting on line 2. There is no size limit, just remember that all the fields must be from the same tag template. 
			   <br>
			   &nbsp;Sample CSVs: <a href="https://github.com/GoogleCloudPlatform/datacatalog-tag-engine/blob/develop/examples/import_configs/sakila_table_tags.csv">table-level tags</a>, <a href="https://github.com/GoogleCloudPlatform/datacatalog-tag-engine/blob/develop/examples/import_configs/sakila_column_tags.csv">column-level tags</a>
			    <br><br>
			   
			   &nbsp;&nbsp;Mandatory fields are marked by <span style="color:red;">*</span></h5>

	   </div>
	   <form method="post" action="/process_import_config"> 

	   <h3>Tag Template Details</h3>
   	<table> 
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Tag template id:&nbsp;</td>
	   <td>
       	  <input type="text" name="template_id" value="{{ template_id }}" style="width: 150px;padding: 3px;"/>			 
       </td>
       </tr>
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Tag template project:&nbsp;</td>
	   <td>
       	  <input type="text" name="template_project" value="{{ project_id }}" style="width: 150px;padding: 3px;"/>			 
       </td>
       </tr>
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Tag template region:&nbsp;</td>
	   <td>
       	  <input type="text" name="template_region" value="{{ region }}" style="width: 150px;padding: 3px;"/>			 
       </td>
       </tr>
       </table>
		<p>&nbsp;</p>
		<h3>GCS Path to CSV Files</h3>
		 	   <h5>		   
  			  
			   &nbsp;&nbsp;If you have multiple files to upload, use a comma-separated list. Example: gs://bucket/folder/tags1.csv, 
			   			   gs://bucket/folder/tags2.csv, etc.

		   		</h5>
					    <table>
				     <tr>
				    <td><span style="color:red;">*</span>&nbsp;Location of metadata import file(s):&nbsp;&nbsp;
				    	  <input type="text" value="gs://" name="metadata_import_location" style="align-content:left; width: 700px; overflow:auto;"/>

				    	</td>
				     </tr>
			    </table>
				
				
			    {% if display_tag_history %}
			      <p>&nbsp;</p>
				<h3>Tag History Option</h3>
			    <table>
			    <tr><td><input type="checkbox" class="form-control move-left" name="tag_history" value="selected" checked>
				    Save tag values from this config to BigQuery tag history table.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
			    {% if display_tag_stream %}
			      <p>&nbsp;</p>
				<h3>Tag Stream Option</h3>
			    <table>
			    <tr><td><input type="checkbox" class="form-control move-left" name="tag_stream" value="selected" checked>
				    Publish tag values from this config to Pub/Sub tag stream topic.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>	   
         </form>
    </body>
</html>
