<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine</h1>
        </div>
	   <div class="header">
	   
	   {% if propagated_tag_config['config_status'] == 'ACTIVE': %}
	   	<h2>Override propagated tag on view {{ view_res }}</h2>
	   {% elif propagated_tag_config['config_status'] == 'FORKED' %}
	     <h2>Change propagated tag on view {{ view_res }}</h2>
	   {% elif propagated_tag_config['config_status'] == 'CONFLICT' %}
	     <h2>Resolve tag conflict on view {{ view_res }}</h2>
	   {% endif %}	
		
 	      <span style="color:#9d9a9a;"><h5>
	   {% if propagated_tag_config['config_status'] == 'ACTIVE': %}		 
			 <span style="color:red;">Warning: this is potentially a destructive action, you will not be able to go back. </span> Once you make changes to this tag, it will be permanently forked from its original tag(s) attached to {{ source_res }}.
	   {% elif propagated_tag_config['config_status'] == 'FORKED': %}
	          <span style="color:#f1c232;">Warning:</span> this tag has been forked from {{ source_res }}. It is not being kept in sync with its original tag(s). 
        {% elif propagated_tag_config['config_status'] == 'CONFLICT': %}
          <span style="color:#f1c232;">Warning:</span> this tag will be forked from {{ source_res }} and will not be kept in sync with its original tag(s).
	   {% endif %}
		 </h5></span> 

	
	 <h2>Choose Fields</h2>
	 <h5><span style="color:#9d9a9a;">A checked field indicates it is part of the source tag(s) and will be part of the target tag if you leave it checked. You can add new fields and/or remove existing ones from the tag config. <br><br>
 		   Mandatory template fields are marked by <span style="color:red;">*</span>.</h5>
 	  </span>
	   </div>
         <form method="post" action="/override_propagated_dynamic_tag">
		    <table>
			   {% for field in fields %}
		        <tr>
		          <td>   
				   {% set ns = namespace(found=false) %}
				   
				   {% for current_field in propagated_tag_config['fields']  %}
				      {% if current_field['field_id'] == field['field_id'] %}
					      
						 {% set ns.found = true %}
                              
						 <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}" checked>
					 {% endif %}
				    {% endfor %}
				    
				    {% if ns.found == false %}
				       <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}">
				    {% endif %}
				    
				    
				</td>
				<td>
				{% if field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ field['field_id'] }} (type {{ field['field_type'] }}):
				</td>
				<td>
				
		        {% set ns = namespace(found=false) %}
		      
			   {% for current_field in propagated_tag_config['fields'] %}
			   
			      {% if current_field['field_id'] == field['field_id'] %}
		           {% set ns.found = true %}
				   
				       <input type="text" value="{{ current_field['query_expression'] }}" name="{{ field['field_id'] }}" style="width: 330px;padding: 3px;">	

 					 {% endif %}
 				    {% endfor %}
			    
			   {% if ns.found == false %}
	                <input type="text" value="" name="{{ field['field_id'] }}" style="width: 330px;padding: 3px;">
			   {% endif %}
				
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
		    <h2>Choose Rules</h2>
			    <table>
			     <tr>
			    <td>Included URIs:&nbsp;&nbsp;
			    	   <textarea name="included_uris" style="align-content:left; overflow:auto;">{{ included_uris }}
			    	   </textarea></td>
			     </tr>
				<tr><td>&nbsp;</td></tr>
			     <tr>
			    <td>Refresh this dynamic tag every 
			    {% if propagated_tag_config['refresh_frequency']|length > 1 %}
				    <input type="text" value="{{ propagated_tag_config['refresh_frequency'] }}" name="refresh_frequency" style="width: 30px;padding: 3px;"> hours.</td>
			    {% else %}
			         <input type="text" value="24" name="refresh_frequency" style="width: 30px;padding: 3px;"> hours.</td>
		         {% endif %}
			    </tr>
		        </table>
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td>
			   {% if propagated_tag_config['config_status'] == 'ACTIVE' %}
				 <input type="submit" value="I understand, submit my changes" name="action" style="color:red;font-weight:bold;font-size:16px;width:300px;padding:3px;">&nbsp;
			   {% elif propagated_tag_config['config_status'] == 'CONFLICT' %}
			   	  <input type="submit" value="Fork Tag and Save Changes" name="action">
			   {% else %}
				   <input type="submit" value="Save Changes" name="action">
			   {% endif %}
				   <input type="submit" value="Cancel Changes" name="action"></td>
			   </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="project_id" value="{{ project_id }}">
			   <input type="hidden" name="region" value="{{ region }}">
			   <input type="hidden" name="tag_uuid" value="{{ propagated_tag_config['view_tag_uuid'] }}">
			   
			   {% for field in fields %}
			   	<input type="hidden" name="{{ field['field_id'] }}_datatype" value="{{ field['field_type'] }}">
			   {% endfor %}

         </form>
    </body>
</html>
