<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine for Data Catalog</h1>
        </div>
	   <div class="header">
	   <h2>Create static tag config using {{ template_id }}</h2>
	   <span style="color:#9d9a9a;">
		   <h6>To include a field in your tag, click on the checkbox next to the field and either enter a value for the field in the text box (if the field is of type string, double or datetime) or choose a value for the field (if the field is of type enum or bool). <br><br>
		   Mandatory template fields are marked by <span style="color:red;">*</span> and are already checked for you. 
		   </h6>
	  </span>
	   </div>
	   <h3>Choose Tag Template Fields</h3>
         <form method="post" action="/process_static_tag">
		    <table>
			   {% for dict_field in fields %}
		        <tr>
		          <td>
				{% if dict_field['is_required'] == True %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}" checked>
				{% else: %}
                    <input type="checkbox" class="form-control move-left" name="selected" value="{{ dict_field['field_id'] }}">
				{% endif %}
				</td>
				<td>
				{% if dict_field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ dict_field['field_id'] }} (type {{ dict_field['field_type'] }}):
				</td>
				<td>
				{% if dict_field['field_type'] == "enum": %}
				
				   <select name= "{{ dict_field['field_id'] }}" style="width: 207px;padding: 3px;">
					   {% for enum_value in dict_field['enum_values'] %}
				           <option value="{{ enum_value }}">{{ enum_value }}</option>
				    	   {% endfor %}
				   </select>
				
				{% elif dict_field['field_type'] == "bool": %}
				    <select name= "{{ dict_field['field_id'] }}" style="width: 80px;padding: 3px;">
				      <option value="True">True</option>
					 <option value="False">False</option>
				    </select>
				    
				{% elif dict_field['field_type'] == "datetime": %}
					<input type="text" value="{{ current_time }}" name="{{ dict_field['field_id'] }}" style="width: 150px;padding: 3px;">

				{% else: %}
				     <input type="text" value="" name="{{ dict_field['field_id'] }}">
				{% endif %}
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h3>Choose URIs</h3>
		 	   
			   <span style="color:#9d9a9a;"><h6>
			   Specify comma-separated list of URIs for resources to include in and exclude from your static tag. Wildcards are allowed in the table name. <br><br>
					  Supported URIs for BigQuery resources: <br>
					  bigquery/project/{project_id}/dataset/{dataset}/* <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table} <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table}/{column} </h6>
				</span>
				    <table>
				     <tr>
				    <td><span style="color:red;">*</span> Included URIs:&nbsp;&nbsp;
				    	  <input type="text" value="bigquery/project/{{ project_id }}/dataset/{dataset}/*" name="included_uris" style="align-content:left; width: 700px; overflow:auto;"/>

				    	</td>
				     </tr>
				     <tr><td>&nbsp;</td></tr>
	 				<tr>
	 			    <td>&nbsp;&nbsp;Excluded URIs:&nbsp;
				    	  <input type="text" name="excluded_uris" style="align-content:left; width: 700px; overflow:auto;"/>			 
				    </td>
	 		         </tr>
			    </table>
			    {% if display_tag_history %}
			      <p>&nbsp;</p>
				<h3>Choose Tag History</h3>
			    <table>
			    <tr><td><input type="checkbox" class="form-control move-left" name="tag_history" value="selected" checked>
				    Save tag values from this config to BigQuery tag history table.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
			    {% if display_tag_stream %}
			      <p>&nbsp;</p>
				<h3>Choose Tag Stream</h3>
			    <table>
			    <tr><td><input type="checkbox" class="form-control move-left" name="tag_stream" value="selected" checked>
				    Publish tag values from this config to Pub/Sub tag stream topic.&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Tag Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="project_id" value="{{ project_id }}">
			   <input type="hidden" name="region" value="{{ region }}">
			   
			   {% for dict_field in fields %}
			   	<input type="hidden" name="{{ dict_field['field_id'] }}_datatype" value="{{ dict_field['field_type'] }}">
			    {% endfor %}	   
         </form>
    </body>
</html>
