<html>
 <head>
   <title>Export Config Created</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
      {% if status == -1 %}
      <table><tr><td>
      &nbsp;<span style="color:red;">Errors occurred while processing your submission. Please check Firestore for details. </span>
        </td></tr></table><p>
      {% endif %}
	 
   <div class="pagetitle">
   <h1>Export Config Submitted</h1>
    </div>
       <div id="main">
         <p>Your export config is being processed. Please check <a href="{{ url_for('view_export_configs') }}">here</a> for the latest status of your request. </p>
	   
  	   <p>Here's a summary of your config:</p>
         <p>
       <p>
          {% if source_projects %}
		  	<span style="color:#0b5394;">Source projects:</span> {{ source_projects }} <br>
          {% else %}
		    <span style="color:#0b5394;">Source projects:</span> N/A <br>
		  {% endif %}
		  	
		  {% if source_folder %}
		  	<span style="color:#0b5394;">Source folder:</span> {{ source_folder }} <br>
          {% else %}
		  	<span style="color:#0b5394;">Source folder:</span> N/A <br>
		  {% endif %}
		  
		  <span style="color:#0b5394;">Source region:</span> {{ source_region }} <br>
   		<p></p>
         <span style="color:#0b5394;">Target project:</span> {{ target_project }} <br>
         <span style="color:#0b5394;">Target dataset:</span> {{ target_dataset }} <br>
		 <span style="color:#0b5394;">Target region:</span> {{ target_region }} <br>
		 <span style="color:#0b5394;">Write option</span>: {{ write_option }}<br>
   	    <p></p>
		<span style="color:#0b5394;">Refresh mode</span>: {{ refresh_mode }} <br>
		<span style="color:#0b5394;">Refresh frequency</span>: {{ refresh_frequency }} {{ refresh_unit }}<br> 
		
	  </p></p>
	  <p><a href="{{ url_for('create_export_option') }}">Create another export config</a>&nbsp;&nbsp;<a href="/">Go back to home</a></p>
     </div>
   </div>
 </body>
</html>