<html>
 <head>
   <title>Dynamic Tag Created</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
    {% if status == -1 %}
    <table><tr><td>
    &nbsp;<span style="color:red;">Errors occurred while processing your tag submission. Please check Firestore for details. </span>
      </td></tr></table><p>
    {% endif %}
    
   <div id="container">
     <div class="pagetitle">
       <h1>Dynamic Tag Config Submitted</h1>
     </div>
     <div id="main">
       <p>Your dynamic config is being processed. Please check <a href="{{ url_for('view_configs',template_id=template_id,project_id=project_id,region=region) }}">here</a> for the latest status of your request. </p>
	   
	   <p>Here's a summary of your config:</p>
       <p>
          <span style="color:#0b5394;">Template_id</span>: {{ template_id }} <br>
          <span style="color:#0b5394;">Project_id</span>: {{ project_id }} <br>
          <span style="color:#0b5394;">Region</span>: {{ region }} <br>
		<p>
		<span style="color:#0b5394;">Tag Template Fields</span>: 
		<table>
		{% for field in fields: %}
          	<tr>
			<td>{{ field['field_id'] }} <span style="color:green;">({{ field['field_type'] }})</span></td><td style="width: 350px;"> {{ field['query_expression'] }}</td>
		    </tr>
			<tr><td></td><td></td></tr>
		{% endfor %}
	    </table>
   		<p></p>
		<span style="color:#0b5394;">Included URIs</span>: <br>
		{{ included_uris }} 
   		 <p></p>
		<span style="color:#0b5394;">Included URIs Hash</span>: <br>
		{{ included_uris_hash }} 
   		 <p></p>
 		<span style="color:#0b5394;">Excluded URIs</span>: <br>
		{% if excluded_uris is not defined or excluded_uris.isspace() or excluded_uris == '' %}
		   N/A
		{% else: %}
 		  {{ excluded_uris }}
		{% endif %}
   	     <p></p>
		<span style="color:#0b5394;">Refresh mode</span>: {{ refresh_mode }} <br>
		<span style="color:#0b5394;">Refresh frequency</span>: {{ refresh_frequency }} {{ refresh_unit }}<br>
	     <p></p>
		<span style="color:#0b5394;">Tag history option</span>: {{ tag_history }}<br>
		<span style="color:#0b5394;">Tag stream option</span>: {{ tag_stream }}<br>
	  <p><a href="{{ url_for('choose_action',template_id=template_id,project_id=project_id,region=region) }}">Create more configs</a>&nbsp;&nbsp;<a href="/">Switch tag templates / Homepage</a></p>
     </div>
   </div>
 </body>
</html>