<html>
 <head>
   <title>Static Tag Created</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div class="pagetitle">
   <h1>Tag Engine</h1>
    </div>
   <div class="header">
    <h2>Static Tag Created</h2>
   </div>
       <p>Here's a summary of your static tag config:</p>
       <p>
          <span style="color:#0b5394;">template_id:</span> {{ template_id }} <br>
          <span style="color:#0b5394;">project_id:</span> {{ project_id }} <br>
          <span style="color:#0b5394;">region:</span> {{ region }} <br>
		<p>
		<span style="color:#0b5394;">Fields</span>: <br>
		{% for field in fields: %}
          	{{ field['field_id'] }} (<span style="color:green;">{{ field['field_type'] }}</span>): {{ field['field_value'] }} <br>
		{% endfor %}
		<p></p>
   		<p></p>
		<span style="color:#0b5394;">Included URIs:</span><br>
		{{ included_uris }} 
   		 <p></p>
 		<span style="color:#0b5394;">Excluded URIs:</span><br>
		{% if excluded_uris is not defined or excluded_uris.isspace(): %}
		   N/A
		{% else: %}
 		  {{ excluded_uris }}
		{% endif %}
   	     </p></p>
	  </p></p>
	  <p><a href="{{ url_for('choose_action',template_id=template_id,project_id=project_id,region=region) }}">Create Another Tag</a>&nbsp;&nbsp;<a href="/">Homepage</a></p>
     </div>
   </div>
 </body>
</html>