<html>
 <head>
   <title>Static Asset Config</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
      {% if status == -1 %}
      <table><tr><td>
      &nbsp;<span style="color:red;">Errors occurred while processing your tag submission. Please check Firestore for details. </span>
        </td></tr></table><p>
      {% endif %}
	 
   <div class="pagetitle">
   <h1>Static Asset Config Submitted</h1>
    </div>
       <div id="main">
         <p>Your static asset config is being processed. Please check <a href="{{ url_for('view_configs',template_id=template_id,template_project=template_project,template_region=template_region) }}">here</a> for the latest status of your request. </p>
	   
  	   <p>Here's a summary of your config:</p>
         <p>
       <p>
          <span style="color:#0b5394;">template_id:</span> {{ template_id }} <br>
          <span style="color:#0b5394;">template_project:</span> {{ template_project }} <br>
          <span style="color:#0b5394;">template_region:</span> {{ template_region }} <br>
		<p>
		<span style="color:#0b5394;">Fields</span>: <br>
		{% for field in fields: %}
          	{{ field['field_id'] }} (<span style="color:green;">{{ field['field_type'] }}</span>): {{ field['field_value'] }} <br>
		{% endfor %}
		<p></p>
   		<p></p>
		<span style="color:#0b5394;">Included Assets URIs:</span><br>
		{{ included_assets_uris }} 
   		 <p></p>
 		<span style="color:#0b5394;">Excluded Assets URIs:</span><br>
		{% if excluded_assets_uris is not defined or excluded_assets_uris.isspace() or excluded_assets_uris == '' %}
		   N/A
		{% else: %}
 		  {{ excluded_assets_uris }}
		{% endif %}
   	     </p></p>
		<span style="color:#0b5394;">Tag history option</span>: {{ tag_history }}<br>
		<span style="color:#0b5394;">Tag stream option</span>: {{ tag_stream }}<br>
	  </p></p>
	  <p><a href="{{ url_for('choose_action',template_id=template_id,template_project=template_project,template_region=template_region) }}">Create more configs</a>&nbsp;&nbsp;<a href="/">Switch tag templates / Homepage</a></p>
     </div>
   </div>
 </body>
</html>