<html>
 <head>
   <title>Import Config Created</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
      {% if status == -1 %}
      <table><tr><td>
      &nbsp;<span style="color:red;">Errors occurred while processing your submission. Please check Firestore for details. </span>
        </td></tr></table><p>
      {% endif %}
	 
   <div class="pagetitle">
   <h1>Import Tag Config Submitted</h1>
    </div>
       <div id="main">
         <p>Your import config is being processed. Please check <a href="{{ url_for('view_configs',template_id=template_id,template_project=template_project,template_region=template_region) }}">here</a> for the latest status of your request. </p>
	   
  	   <p>Here's a summary of your config:</p>
         <p>
       <p>
          <span style="color:#0b5394;">Template id:</span> {{ template_id }} <br>
          <span style="color:#0b5394;">Template project:</span> {{ template_project }} <br>
          <span style="color:#0b5394;">Template region:</span> {{ template_region }} <br>
   		<p></p>
		<span style="color:#0b5394;">Metadata import location:</span><br>
		{{ metadata_import_location }} 
   		 <p></p>
		<span style="color:#0b5394;">Tag history option</span>: {{ tag_history }}<br>
		<span style="color:#0b5394;">Tag stream option</span>: {{ tag_stream }}<br>
	  </p></p>
	  <p><a href="{{ url_for('choose_action',template_id=target_template_id,template_project=target_template_project,template_region=target_template_region) }}">Create more configs</a>&nbsp;&nbsp;<a href="/">Switch tag templates / Homepage</a></p>
     </div>
   </div>
 </body>
</html>