<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Template Details</h1>
        </div>
	   <span style="color:#0b5394;">&nbsp;Tag Template Id:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ template_id }} <br>
	   <span style="color:#0b5394;">&nbsp;Tag Template Project:</span>&nbsp;&nbsp; {{ template_project }} <br>
	   <span style="color:#0b5394;">&nbsp;Tag Template Region:</span>&nbsp;&nbsp; {{ template_region }} <br>
	   <span style="color:#0b5394;">&nbsp;Service Account:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ service_account }} <br>
	   
	   <span style="color:#9d9a9a;">
		   <h5>&nbsp;&nbsp;Mandatory tag template fields are marked by <span style="color:red;">*</span></h5>
	   </span>  
		 <form method="post" action="/view_config_options">
		    <table>
			   {% for field in fields %}
		        <tr>
				{% if field['is_required'] == True %}
				<td><span style="color:red;">*</span></td>
				{% else: %}
				<td>&nbsp;</td>
				{% endif %}
		          <td>{{ field['field_id'] }}</td>
		          <td>&nbsp;&nbsp;{{ field['field_type'] }} 
					{% if field['field_type'] == "enum" %}
					   <span style="color:#9d9a9a;font-size:16px">
					   ({% for value in field['enum_values'] %}
						  {% if loop.index == field['enum_values']|length: %}
					         {{ value }}
						  {% else: %}
						    {{ value }}, 
						  {% endif %}
					   {% endfor %})
				       </span>
				    {% endif %}
				</td>
			   </tr>
			    {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h3>Choose an action to perform with the above tag template:</h3>
			    <table>
			     <tr>
			       <td><input type="submit" value="View Existing Configs" name="action"></td>
			       <td><input type="submit" value="Create Dynamic Table Tags" name="action"></td>
				   <td><input type="submit" value="Create Dynamic Column Tags" name="action"></td>
				   <td><input type="submit" value="Create Sensitive Column Tags" name="action"></td>
				</tr>
				<tr>
				   <td><input type="submit" value="Create Static Asset Tags" name="action"></td>
				   <td><input type="submit" value="Create Glossary Asset Tags" name="action"></td>
				   <td><input type="submit" value="Create Data Catalog Entries" name="action"></td> 
				</tr>
				<tr>
				   <td><input type="submit" value="Import Tags" name="action"></td>
				   <td><input type="submit" value="Restore Tags" name="action"></td>
				</tr>
				</table>
				<h3>Alternatively:</h3>
 				<table>
				<tr>
 				   <td><input type="submit" value="Switch Template / Return Home" name="action"></td>			
 				</tr>
			    </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="template_project" value="{{ template_project }}">
			   <input type="hidden" name="template_region" value="{{ template_region }}">
			   <input type="hidden" name="service_account" value="{{ service_account }}">
			   <input type="hidden" name="fields" value="{{ fields }}">
         </form>
    </body>
</html>
