<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	    
	   <div class="pagetitle">
	   <h1>Tag Engine for Data Catalog</h1>
        </div>
	   <div class="header">
	   <h2>Tag History Settings</h2>
	   </div>
	   <span style="color:#9d9a9a;">
		   <h6>&nbsp;&nbsp;Tag History lets you save a copy of your Data Catalog tags in BigQuery. As you create or update tags through Tag Engine, a copy of those tags is written into one or more BigQuery tables. 
			   <br>&nbsp;&nbsp;Tag Engine creates one BigQuery table per tag template and writes one record in this table for each tag create or update.			 
			 <br><br>
		   </h6>
	   </span> 
 
		   <table>
			  {% if enabled %}
			   	   <tr><td>&nbsp;Tag History Enabled:</td>
					    <td>&nbsp;TRUE</td>
		      	   </tr>
			        <tr>
			          <td><span style="color:red;">*</span>&nbsp;BigQuery Project Id:</td>
			          <td>&nbsp;{{ bigquery_project }}</td>
				   </tr>
			        <tr>
			          <td><span style="color:red;">*</span>&nbsp;BigQuery Region:</td>
			          <td>&nbsp;{{ bigquery_region }}</td>
				   </tr>
			        <tr>
			          <td><span style="color:red;">*</span>&nbsp;BigQuery Dataset:</td>
			          <td>&nbsp;{{ bigquery_dataset }}</td>
				   </tr>
			   {% else %}
			   <tr>
			    <td>&nbsp;<span style="color:red;">Tag History is currently disabled. To enable it, ask your admin to set it in tagengine.ini.</span></td> 
			  </tr>
			  {% endif %}
		    </table>
           
         </form>
	    <p>&nbsp;&nbsp;<a href="/">Homepage</a></p>
    </body>
</html>
