<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine</h1>
        </div>
	   <div class="header">
	   <h2>Update entry config using {{ template_id }}</h2>
 	   <span style="color:#9d9a9a;">
 		   <h5>Make changes to your entry config below. A checked box indicates the field is part of the tag. You can add new fields and/or remove existing ones from the tag. <br>You can also edit the included URIs, excluded URIs, refresh frequency, and tag history settings. </h5>
 	  </span>
	   </div>
	  
	   <h3>Choose Tag Template Fields</h3>
 	   <span style="color:#9d9a9a;">
 		   <h5>
	   
	 	Mandatory tag template fields are marked by <span style="color:red;">*</span>. 
	 	</h5>
	   </span>
	   
         <form method="post" action="/process_update_entry_config">
		    <table>
			   {% for field in fields %}
		        <tr>
		          <td>   
				   {% set ns = namespace(found=false) %}
				   
				   {% for current_field in tag_config['fields']  %}
				      {% if current_field['field_id'] == field['field_id'] %}
					      
						 {% set ns.found = true %}
                              
						 <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}" checked>
					 {% endif %}
				    {% endfor %}
				    
				    {% if ns.found == false %}
				       <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}">
				    {% endif %}
				    
				    
				</td>
				<td>
				{% if field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ field['field_id'] }} (type {{ field['field_type'] }})
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h3>Enter URIs</h3>
		 	   <span style="color:#9d9a9a;"><h5>
 			   Specify a comma-separated list of URIs for file paths to include in and exclude from your entry config. Wildcards are allowed in the path name. <br><br>
 					  Supported URIs for GCS files: <br>
 					    gs://my-bucket/my-folder/* <br>
 				        gs://my-bucket/my-folder/*.parquet <br>
 					    gs://my-bucket/my-folderA/my-folderB/* <br></h5>
				</span>
			    <table>
			     <tr>
			    <td><span style="color:red;">*</span>Included URIs:&nbsp;&nbsp;
					<input type="text" value="{{ tag_config['included_uris'] }}" name="included_uris" style="align-content:left; width: 700px; overflow:auto;"/>
			     </td>
			     </tr>
			     <tr><td>&nbsp;</td></tr>
 				<tr>
 			    <td>&nbsp;Excluded URIs:&nbsp;&nbsp;
					<input type="text" value="{{ tag_config['excluded_uris'] }}" name="excluded_uris" style="align-content:left; width: 700px; overflow:auto;"/>	
			    </td>
 		         </tr>
		        </table>
		        <p>&nbsp;</p>
			   <h3>Choose Update Options</h3>
		 	   <span style="color:#9d9a9a;">
		 		   <h5>If you choose the AUTO refresh mode, your entry config will be scheduled for updates based on your specified refresh frequency.<br>
					   If you choose the ON-DEMAND refresh mode, your entry config will <b>not</b> be scheduled for updates (even if you specify a refresh frequency). <br>This mode is useful when no new files get added to your dataset on a regular basis or when you want to control the cataloging of new files through the Tag Engine API. <br><br>
				   </h5>
				</span>
			     <table>
 				<tr>	
 			    <td>Refresh mode:&nbsp;<select name="refresh_mode">
				    			{% if tag_config['refresh_mode'] == 'AUTO' %}
   				  				<option value="AUTO" selected>AUTO</option>
   							   	<option value="ON-DEMAND">ON-DEMAND</option>
							{% else %}
   				  				<option value="AUTO">AUTO</option>
   							   	<option value="ON-DEMAND" selected>ON-DEMAND</option>
							{% endif %}
 							  </select>
							  
 			    </td>
 		         </tr>
 			     <tr><td>&nbsp;</td></tr>
				<tr>	
			    <td>Refresh frequency: <input type="text" value="{{ tag_config['refresh_frequency'] }}" name="refresh_frequency" style="width: 30px;padding: 3px;"> &nbsp;<select name="refresh_unit" style="width: 70px;padding: 3px;">
  				    			{% if tag_config['refresh_unit'] == 'days' %}
     				  				<option value="hours">hours</option>
     							   	<option value="days" selected>days</option>
  							{% else %}
     				  				<option value="hours" selected>hours</option>
     							   	<option value="days">days</option>
  							{% endif %}
   							  </select></td>
		         </tr>
		         </table>
			    {% if display_tag_history_option == 1 %}
			      <p>&nbsp;</p>
				<h3>Choose Tag History Option</h3>
			    <table>
			    <tr><td>
				    {% if tag_config['tag_history'] == True %} 
				    		<input type="checkbox" class="form-control move-left" name="tag_history" value="selected" checked>
				    {% else %}
				         	<input type="checkbox" class="form-control move-left" name="tag_history" value="selected">
				    {% endif %}
				    Save tag values to BigQuery history table&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
			    {% if display_tag_stream_option == 1 %}
			      <p>&nbsp;</p>
				<h3>Choose Tag Stream Option</h3>
			    <table>
			    <tr><td>
				    {% if tag_config['tag_stream'] == True %} 
				    		<input type="checkbox" class="form-control move-left" name="tag_stream" value="selected" checked>
				    {% else %}
				         	<input type="checkbox" class="form-control move-left" name="tag_stream" value="selected">
				    {% endif %}
				    Save tag values to Pub/Sub tag stream topic&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Changes" name="action">&nbsp;<input type="submit" value="Cancel Changes" name="action"></td>
			   </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="project_id" value="{{ project_id }}">
			   <input type="hidden" name="region" value="{{ region }}">
			   <input type="hidden" name="tag_uuid" value="{{ tag_config['tag_uuid'] }}">
			   
			   {% for field in fields %}
			   	<input type="hidden" name="{{ field['field_id'] }}_datatype" value="{{ field['field_type'] }}">
			   {% endfor %}

         </form>
    </body>
</html>
