<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine</h1>
        </div>
	   <div class="header">
	   <h2>Update Dynamic Tag using {{ template_id }}</h2>
 	   <span style="color:#9d9a9a;">
 		   <h6>Make changes to your dynamic tag config. A checked field indicates it is part of the tag config. You can add new fields and/or remove existing ones from the tag config. You can also edit the query expression, included URIs, excluded URIs, refresh frequency, and tag history.  <br><br>
	   The query expression must be a <i>valid</i> select statement in BQ. It can contain aggregate functions, joins, filters, groupings, etc. <br>
   <br>
   In addition, the query expression can contain the following variables:<br>
   - <b>$table</b> refers to the table (or view) being tagged<br>
   - <b>$column</b> refers to the column being tagged<br>
   - <b>$dataset</b> refers to the dataset of the table (or view) being tagged<br>
   - <b>$project</b> refers to the project of the table (or view) being tagged<br>
   <br>
   Here are some examples: <br>
   select count(*) from $table<br>
   select count(distinct($column)) from $table <br>
   select count(*) > 1 from $table where $column is null<br>
   select rating from dw-project.quality.scores where table = '$table' and dataset = '$dataset' and project = '$project'<br>
   select '30-DAYS'<br>
    <br>
	   Note: The result of the query expression must satisfy the type requirements of the field in the tag template. <br>
	   For example, if the tag template field is of type string, the query expression must return a string type.<br><br>
			   
 		   Mandatory template fields are marked by <span style="color:red;">*</span>. 
 		   </h6>
 	  </span>
	   </div>
	   <p>&nbsp;</p>
	   <h2>Choose Template Fields</h2>
         <form method="post" action="/process_update_dynamic_tag">
		    <table>
			   {% for field in fields %}
		        <tr>
		          <td>   
				   {% set ns = namespace(found=false) %}
				   
				   {% for current_field in tag_config['fields']  %}
				      {% if current_field['field_id'] == field['field_id'] %}
					      
						 {% set ns.found = true %}
                              
						 <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}" checked>
					 {% endif %}
				    {% endfor %}
				    
				    {% if ns.found == false %}
				       <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}">
				    {% endif %}
				    
				    
				</td>
				<td>
				{% if field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ field['field_id'] }} (type {{ field['field_type'] }}):
				</td>
				<td>
				
		        {% set ns = namespace(found=false) %}
		      
			   {% for current_field in tag_config['fields'] %}
			   
			      {% if current_field['field_id'] == field['field_id'] %}
		           {% set ns.found = true %}
				   
				       <input type="text" value="{{ current_field['query_expression'] }}" name="{{ field['field_id'] }}" style="width: 700px;padding: 3px;">	

 					 {% endif %}
 				    {% endfor %}
			    
			   {% if ns.found == false %}
	                <input type="text" value="" name="{{ field['field_id'] }}" style="width: 700px;padding: 3px;">
			   {% endif %}
				
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h2>Choose URIs</h2>
		 	   <span style="color:#9d9a9a;">
		 		   <h6>Specify URIs for resources to include in or exclude from your dynamic tag. Wildcards are allowed in the table name. <br><br>
					  Supported URIs for BigQuery resources: <br>
					  bigquery/project/{project_id}/dataset/{dataset}/* <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table} <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table}/{column} </h6>
				</span>
			    <table>
			     <tr>
			    <td>Included URIs:&nbsp;&nbsp;
			    	   <textarea name="included_uris" style="align-content:left; width: 700px; overflow:auto;">{{ tag_config['included_uris'] }}
			    	   </textarea></td>
			     </tr>
			     <tr><td>&nbsp;</td></tr>
 				<tr>
 			    <td>Excluded URIs:&nbsp;
			    	   <textarea name="excluded_uris" style="align-content:left; width: 700px; overflow:auto;">{{ tag_config['excluded_uris'] }}
			    	   </textarea>
			    </td>
 		         </tr>
		        </table>
		        <p>&nbsp;</p>
			   <h2>Choose Scheduling</h2>
		 	   <span style="color:#9d9a9a;">
		 		   <h6>If you choose the AUTO refresh mode, your tags will be scheduled for update based on your specified refresh frequency. <br>
					   If you choose the ON-DEMAND refresh mode, your tags will <b>not</b> be scheduled for refresh (even if you specify a refresh frequency). <br>This mode is useful when you have tags that don't need to be updated or when you want to trigger the update from the API. <br><br>
				   </h6>
				</span>
			     <table>
 				<tr>	
 			    <td>Refresh mode:&nbsp;<select name="refresh_mode">
				    			{% if tag_config['refresh_mode'] == 'AUTO' %}
   				  				<option value="AUTO" selected>AUTO</option>
   							   	<option value="ON-DEMAND">ON-DEMAND</option>
							{% else %}
   				  				<option value="AUTO">AUTO</option>
   							   	<option value="ON-DEMAND" selected>ON-DEMAND</option>
							{% endif %}
 							  </select>
 			    </td>
 		         </tr>
 			     <tr><td>&nbsp;</td></tr>
				<tr>	
			    <td>Refresh frequency: <input type="text" value="{{ tag_config['refresh_frequency'] }}" name="refresh_frequency" style="width: 30px;padding: 3px;"> hours.</td>
		         </tr>
		         </table>
			    {% if display_export_option == 1 %}
			      <p>&nbsp;</p>
				<h2>Choose Export</h2>
			    <table>
			    <tr><td>
				    {% if tag_config['tag_export'] == True %} 
				    		<input type="checkbox" class="form-control move-left" name="export" value="selected" checked>
				    {% else %}
				         	<input type="checkbox" class="form-control move-left" name="export" value="selected">
				    {% endif %}
				    Save tag history to BigQuery&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Save Changes" name="action">&nbsp;<input type="submit" value="Cancel Changes" name="action"></td>
			   </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="project_id" value="{{ project_id }}">
			   <input type="hidden" name="region" value="{{ region }}">
			   <input type="hidden" name="tag_uuid" value="{{ tag_config['tag_uuid'] }}">
			   
			   {% for field in fields %}
			   	<input type="hidden" name="{{ field['field_id'] }}_type" value="{{ field['field_type'] }}">
			   {% endfor %}

         </form>
    </body>
</html>
