<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine for Data Catalog</h1>
        </div>
	   <div class="header">
	   <h2>Update Import Config using {{ template_id }}</h2>
	   
		   <h5>The import config lets you create and populate Data Catalog tags from one or more CSV files. <br>
  			   For table-level tags, the CSV must have these three fields: project, dataset, and table.<br>
			   For column-level tags, the CSV must have these four fields: project, dataset, table, and column.<br> 
			   The remaining fields in the CSV are for each of the tag template fields to be included in the tags. <br> 
			   <br>
			   The top line of the file is reserved for headers (i.e. project, dataset, table, etc.). <br>
			   The headers of the tagged fields are their field ID from the tag template.<br>
			   Note: The content of a CSV file is scoped to one tag template. <br>
			   Here are some sample CSVs: <a href="https://github.com/GoogleCloudPlatform/datacatalog-tag-engine/blob/develop/examples/import_configs/sakila_table_tags.csv">table-level CSV</a>, <a href="https://github.com/GoogleCloudPlatform/datacatalog-tag-engine/blob/develop/examples/import_configs/sakila_column_tags.csv">column-level CSV</a>
			    <br><br>
			   
			   Mandatory fields in this form are marked by <span style="color:red;">*</span></h5>

	   </div>
	   <form method="post" action="/process_import_config"> 

	   <h3>Tag Template Details</h3>
   	<table> 
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Tag template id:&nbsp;</td>
	   <td>
       	  <input type="text" name="template_id" value="{{ config['template_id'] }}" style="width: 150px;padding: 3px;"/>			 
       </td>
       </tr>
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Tag template project:&nbsp;</td>
	   <td>
       	  <input type="text" name="template_project" value="{{ config['template_project'] }}" style="width: 150px;padding: 3px;"/>			 
       </td>
       </tr>
   	<tr>
       <td>&nbsp;<span style="color:red;">*</span>&nbsp;Tag template region:&nbsp;</td>
	   <td>
       	  <input type="text" name="template_region" value="{{ config['template_region'] }}" style="width: 150px;padding: 3px;"/>			 
       </td>
       </tr>
       </table>
		<p>&nbsp;</p>
		<h3>GCS Path to CSV Files</h3>
		 	   <h5>		   
  			  
			   &nbsp;&nbsp;If you have multiple files to upload, use a comma-separated list. Example: gs://bucket/folder/tags1.csv, 
			   			   gs://bucket/folder/tags2.csv, etc.

		   		</h5>
					    <table>
				     <tr>
				    <td><span style="color:red;">*</span>&nbsp;Location of metadata import file(s):&nbsp;&nbsp;
				    	  <input type="text" value="{{ config['metadata_import_location'] }}" name="metadata_import_location" style="align-content:left; width: 700px; overflow:auto;"/>

				    	</td>
				     </tr>
			    </table>
				
				
			    {% if display_tag_history_option == 1 %}
			      <p>&nbsp;</p>
				<h3>Tag History Option</h3>
			    <table>
			    <tr><td>
				    {% if config['tag_history'] == True %} 
				    		<input type="checkbox" class="form-control move-left" name="tag_history" value="selected" checked>
				    {% else %}
				         	<input type="checkbox" class="form-control move-left" name="tag_history" value="selected">
				    {% endif %}
				    Save tag values to BigQuery history table&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
			    {% if display_tag_stream_option == 1 %}
			      <p>&nbsp;</p>
				<h3>Tag Stream Option</h3>
			    <table>
			    <tr><td>
				    {% if config['tag_stream'] == True %} 
				    		<input type="checkbox" class="form-control move-left" name="tag_stream" value="selected" checked>
				    {% else %}
				         	<input type="checkbox" class="form-control move-left" name="tag_stream" value="selected">
				    {% endif %}
				    Save tag values to Pub/Sub tag stream topic&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Submit Config" name="action">
			       <input type="submit" value="Cancel Changes" name="action">
			   </td>
		        </tr>
			   </table>	   
         </form>
    </body>
</html>
