<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	   <div class="pagetitle">
	   <h1>Tag Engine</h1>
        </div>
	   <div class="header">
	   <h2>Update Static Tag using {{ template_id }}</h2>
	   <span style="color:#9d9a9a;">
		   <h6>Make changes to your static tag config. A checked field indicates it is part of the tag config. You can add new fields and/or remove existing ones from the tag config. You can also edit a field's value, the included URIs, excluded URIs, and tag history.  <br><br>
		   Mandatory template fields are marked by <span style="color:red;">*</span>. 
		   </h6>
	  </span>
	   </div>
	   <h2>Choose Template Fields</h2>
         <form method="post" action="/process_update_static_tag">
		    <table>
			   {% for field in fields %}
		        <tr>
		          <td>   
				   {% set ns = namespace(found=false) %}
				   
				   {% for current_field in tag_config['fields']  %}
				      {% if current_field['field_id'] == field['field_id'] %}
					      
						 {% set ns.found = true %}
                              
						 <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}" checked>
					 {% endif %}
				    {% endfor %}
				    
				    {% if ns.found == false %}
				       <input type="checkbox" class="form-control move-left" name="selected" value="{{ field['field_id'] }}">
				    {% endif %}
				    
				    
				</td>
				<td>
				{% if field['is_required'] == True %}
				<span style="color:red;">*</span>
				{% else: %}
				&nbsp;
				{% endif %}
				{{ field['field_id'] }} (type {{ field['field_type'] }}):
				</td>
				<td>
				{% if field['field_type'] == "enum": %}
				   <select name= "{{ field['field_id'] }}" style="width: 207px;padding: 3px;">
					   
					   {% set ns = namespace(found=false) %}
					   
					   {% for current_field in tag_config['fields'] %}
					      {% if current_field['field_id'] == field['field_id'] %}
					      
						      {% set ns.found = true %}
					      
							 {% for enum_value in field['enum_values'] %}
						         {% if current_field['field_value'] == enum_value %}
					                <option value="{{ enum_value }}" selected>{{ enum_value }}</option>
							    {% else %}
							      <option value="{{ enum_value }}">{{ enum_value }}</option>
							    {% endif %}
					    	      {% endfor %}
						 
						 {% endif %}
					    {% endfor %}
					    {% if ns.found == false %}
					       {% for enum_value in field['enum_values'] %}
					       <option value="{{ enum_value }}">{{ enum_value }}</option>
						  {% endfor %}
					    {% endif %}
				   </select>
				
				{% elif field['field_type'] == "bool": %}
				    <select name= "{{ field['field_id'] }}" style="width: 80px;padding: 3px;">
				      {% set ns = namespace(found=false) %}
				      
					 {% for current_field in tag_config['fields'] %}
					   
					   {% if current_field['field_id'] == field['field_id'] %}
				           {% set ns.found = true %}
						   
						   {% if current_field['field_value'] == 'True' %} 
						      <option value="True" selected>True</option>
						   {% else %}
					           <option value="True">True</option>
						   {% endif %}
						   
						   {% if current_field['field_value'] == 'False' %} 
						      <option value="False" selected>False</option>
						   {% else %}
					           <option value="False">False</option>
						   {% endif %}
					   {% endif %}
					 {% endfor %}
					 
					 {% if ns.found == false %}
					 	<option value="True">True</option>
						<option value="False">False</option>
					 {% endif %}
				    </select>
				    
				{% elif field['field_type'] == "datetime": %}
			        {% set ns = namespace(found=false) %}
			      
				   {% for current_field in tag_config['fields'] %}
				   
				      {% if current_field['field_id'] == field['field_id'] %}
			           {% set ns.found = true %}
					   
			                <input type="text" value="{{ current_field['field_value'] }}" name="{{ field['field_id'] }}" style="width: 150px;padding: 3px;">

					 {% endif %}
				    {% endfor %}
				    
				   {% if ns.found == false %}
		                <input type="text" value="{{ current_time }}" name="{{ field['field_id'] }}" style="width: 150px;padding: 3px;">
				   {% endif %}
					
				{% else: %}
 			        {% set ns = namespace(found=false) %}
			      
 				   {% for current_field in tag_config['fields'] %}
				   
 				      {% if current_field['field_id'] == field['field_id'] %}
 			           {% set ns.found = true %}
					   
					       <input type="text" value="{{ current_field['field_value'] }}" name="{{ field['field_id'] }}">	

    					 {% endif %}
    				    {% endfor %}
				    
 				   {% if ns.found == false %}
 		                <input type="text" value="" name="{{ field['field_id'] }}">
 				   {% endif %}
					
				{% endif %}
				</td>
			   </tr>
			   {% endfor %}
			   </table>
		    <p>&nbsp;</p>
			   <h2>Choose URIs</h2>
		 	   <span style="color:#9d9a9a;">
		 		   <h6>Specify comma-separated list of URIs for resources to include in and exclude from your static tag. Wildcards are allowed in the table name. <br><br>
					  Supported URIs for BigQuery resources: <br>
					  bigquery/project/{project_id}/dataset/{dataset}/* <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table} <br>
				       bigquery/project/{project_id}/dataset/{dataset}/{table}/{column} </h6>
				</span>
			    <table>
			     <tr>
			    <td>Included URIs:&nbsp;&nbsp;
				<textarea name="included_uris" style="align-content:left; overflow:auto;">{{ tag_config['included_uris'] }}
				</textarea></td>
			     </tr>
			     <tr><td>&nbsp;</td></tr>
				<tr>
			    <td>Excluded URIs:&nbsp;
		          <textarea name="excluded_uris" style="align-content:left; overflow:auto;">{{ tag_config['excluded_uris'] }}
		          </textarea></td>
		         </tr>
		         </table>
			    {% if display_export_option == 1 %}
			      <p>&nbsp;</p>
				<h2>Choose Export</h2>
			    <table>
			    <tr><td>
				    {% if tag_config['tag_export'] == True %} 
				    		<input type="checkbox" class="form-control move-left" name="export" value="selected" checked>
				    {% else %}
				         	<input type="checkbox" class="form-control move-left" name="export" value="selected">
				    {% endif %}
				    Save tag history BigQuery&nbsp;&nbsp;
			    </td></tr>
			    </table>
			    {% endif %}
	         <p>&nbsp;</p>
		        <table>
		        <tr>
			   <td><input type="submit" value="Save Changes" name="action">&nbsp;<input type="submit" value="Cancel Changes" name="action"></td>
		        </tr>
			   </table>
			   <input type="hidden" name="template_id" value="{{ template_id }}">
			   <input type="hidden" name="project_id" value="{{ project_id }}">
			   <input type="hidden" name="region" value="{{ region }}">
			   <input type="hidden" name="tag_uuid" value="{{ tag_config['tag_uuid'] }}">
			   
			   {% for field in fields %}
			   	<input type="hidden" name="{{ field['field_id'] }}_type" value="{{ field['field_type'] }}">
			   {% endfor %}	   
         </form>
    </body>
</html>
