<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	    {% if status == -1 %}
	    <table><tr><td>
	    &nbsp;<span style="color:red;">Errors occurred while processing your tag submission. Please check Firestore for details. </span>
         </td></tr></table><p>
	    {% endif %}
	    
 	   <div class="pagetitle">
 	   <h1>Tag Engine for Data Catalog</h1>
         </div>
 	   <div class="header">
	    <h2>Tags attached to template: {{ template_id }}</h2>
	   </div>
	    <span style="color:#9d9a9a;">
	    <h5>
		   {% if tag_configs|length > 0 %} 
		    	&nbsp;Click on Edit Tag Config to update the rules of a config.<br><br>
				&nbsp;Mandatory tag template fields are marked by <span style="color:red;">*</span>. 
		   {% else %}
		     &nbsp;&nbsp;<span style="color:red;">Tag Engine has no configs associated with the tag template {{ template_id }}.</span> 
		   {% endif %}
	    </h5>
         </span>  
		    {% for tag_config in tag_configs %}
		    <table style="background-color:#f1eeee" width="800">
		    
			<form method="post" action="/update_config">
		    
			<th>&nbsp;<input type="submit" value="Edit Tag Config" name="submit"></th>
			<tr><td>&nbsp;<span style="color:#0b5394;">Config Status:</span> {{ tag_config['config_status'] }}
			{% if tag_config['config_status'] != 'ACTIVE' %}
				<a href="{{ url_for('view_configs',template_id=template_id,project_id=project_id,region=region) }}">refresh</a>
			{% endif %}
			</td></tr> 
			<tr><td>&nbsp;<span style="color:#0b5394;">Config Type:</span> {{ tag_config['config_type'].title() }}</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr><td>&nbsp;<span style="color:#0b5394;">Tag Template Fields:</span></td></tr>
		    </table>
			<table style="background-color:#f1eeee" width="800">
			{% for field in tag_config['fields'] %}
	          <tr>
		     <td>&nbsp;
				 {% if field['is_required'] == True %}
					<span style="color:red;">*</span>
				 {% else %}
				   &nbsp;
				 {% endif %}
				
				{{ field['field_id'] }} (<span style="color:green;">{{ field['field_type'] }}</span>): 
			 </td>
		     <td style="width: 480px;">
				{% if tag_config['config_type'] == 'STATIC' %}
				  {{ field['field_value'] }}
				{% endif %}
				{% if tag_config['config_type'] == 'DYNAMIC' %}
				  {{ field['query_expression'] }}
				{% endif %}
			 </td>
		     </tr>
			 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
			{% endfor %}
		  </table>
		  <table style="background-color:#f1eeee" width="800">
		    <tr><td>&nbsp;</td></tr>
			<tr>
		    <td>&nbsp;<span style="color:#0b5394;">Included URIs:</span></td>
	         </tr>
		    <tr>
		    <td>&nbsp;&nbsp;{{ tag_config['included_uris'] }}</td>
	         </tr>
		    {% if tag_config['config_type'] == 'DYNAMIC' %}
		       <tr>
		       <td>&nbsp;<span style="color:#0b5394;">Included URIs Hash:</span></td>
	            </tr>
		       <tr>
		       <td>&nbsp;&nbsp;{{ tag_config['included_uris_hash'] }}</td>
	            </tr>
		    {% endif %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Excluded URIs:</span></td>
	         </tr>
		    
		    {% if tag_config['excluded_uris'] != '' %}
		    <tr>
		    <td>&nbsp;&nbsp;{{ tag_config['excluded_uris'] }}</td>
	         </tr>
		    {% else %}
		    <tr>
		    <td>&nbsp;&nbsp;N/A</td>
	         </tr>
	         {% endif %}
		    
		    {% if 'refresh_mode' in tag_config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Refresh Mode:</span>
			    &nbsp;{{ tag_config['refresh_mode'] }}</td>
	         </tr>
		    {% endif %}
		    
		    {% if 'refresh_frequency' in tag_config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Refresh Frequency:</span>
			    &nbsp;{{ tag_config['refresh_frequency'] }}&nbsp;{{ tag_config['refresh_unit'] }}</td>
	         </tr>
		    {% endif %} 
		    
		    {% if 'tag_history' in tag_config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Tag History:</span>
		        &nbsp;{{ tag_config['tag_history'] }}</td>
	         </tr>
		    {% endif %}
		    
		    {% if 'tag_stream' in tag_config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Tag Stream:</span>
		        &nbsp;{{ tag_config['tag_stream'] }}</td>
	         </tr>
		    {% endif %}
		    
	        </table>
		   <br>
		   <input type="hidden" name="template_id" value="{{ template_id }}">
		   <input type="hidden" name="project_id" value="{{ project_id }}">
		   <input type="hidden" name="region" value="{{ region }}">
		   <input type="hidden" name="tag_uuid" value="{{ tag_config['tag_uuid'] }}">
		   <input type="hidden" name="config_type" value="{{ tag_config['config_type'] }}">
		   </form>
		   {% endfor %}
		   <p>&nbsp;</p>
		   <form method="post" action="/display_selected_action">
		    <table>
		     <tr>
		    <td>&nbsp;<input type="submit" value="Create Static Config" name="action"></td>
		    <td>&nbsp;<input type="submit" value="Create Dynamic Config" name="action"></td>
			<td>&nbsp;<input type="submit" value="Create Entry Config" name="action"></td>
	         </tr>
	        </table>
		   <input type="hidden" name="template_id" value="{{ template_id }}">
		   <input type="hidden" name="project_id" value="{{ project_id }}">
		   <input type="hidden" name="region" value="{{ region }}">
		   </form>        
    <p>&nbsp;&nbsp;<a href="/">Homepage</a></p>
    </body>
</html>
