<!DOCTYPE html>
<meta charset="utf-8">
  <head>
    <title>Tag Engine for Data Catalog</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>  
    <body>
	    {% if status == -1 %}
	    <table><tr><td>
	    &nbsp;<span style="color:red;">Errors occurred while processing your config submission. Please check Firestore for details. </span>
         </td></tr></table><p>
	    {% endif %}
	    
 	   <div class="pagetitle">
 	      <h1>Existing Configs</h1>
       </div>
	   <h3>The following configs are all attached to the same tag template:</h3>
 	    
   	  <table>
   		  <tr><td>&nbsp;<span style="color:#0b5394;">Template Id:</span> {{ template_id }}</td></tr>
  		  <tr><td>&nbsp;<span style="color:#0b5394;">Template Project:</span> {{ template_project }}</td></tr>
  		  <tr><td>&nbsp;<span style="color:#0b5394;">Template Region:</span> {{ template_region }}</td></tr>
  		  <tr><td>&nbsp;<span style="color:#0b5394;">Service Account:</span> {{ service_account }}</td></tr>
   	  </table>
		
		<h5>
		   {% if configs|length > 0 %} 
		    	&nbsp;Click on <b>View Job History</b> to see the previously run jobs associated with the config. <br>
				&nbsp;Click on <b>Trigger Job</b> to run a job from the config.<br> 
				&nbsp;Click on <b>Edit Config</b> to overwrite the config. <br> 
				&nbsp;Click on <b>Delete Config</b> to remove the config from Tag Engine.
				Note that deleting it does <b>not</b> remove its associated tags or entries from Data Catalog.<br>
		   {% else %}
		     &nbsp;&nbsp;<span style="color:red;">You have no configs associated with the tag template {{ template_id }}.</span> 
		   {% endif %}
	    </h5>

		    {% for config in configs %}
		    <table style="background-color:#f1eeee" width="930">
		    
			<form method="post" action="/choose_config_action">
		    
			<th>
			&nbsp;<input type="submit" value="View Job History" name="action">
			&nbsp;<input type="submit" value="Trigger Job" name="action">
			&nbsp;<input type="submit" value="Edit Config" name="action">
			&nbsp;<input type="submit" value="Delete Config" name="action"></th>
			<tr><td>&nbsp;</tr>
			<tr><td>&nbsp;<span style="color:#0b5394;">Config Id:</span> {{ config['config_uuid'] }}</td></tr> 
			<tr><td>&nbsp;<span style="color:#0b5394;">Config Status:</span> {{ config['config_status'] }}</td></tr> 
			<tr><td>&nbsp;<span style="color:#0b5394;">Config Type:</span> {{ config['config_type'] }}</td></tr>
			<tr><td>&nbsp;</td></tr>
			{% if config['config_type'] == 'TAG_RESTORE' %}
 		       <table style="background-color:#f1eeee" width="930">
			   <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Source template id:</span>
 		           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ config['source_template_id'] }}</td>
 	           </tr>
 		       <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Source template project:</span>
 		             &nbsp;&nbsp;{{ config['source_template_project'] }}</td>
 	           </tr>
 		       <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Source template region:</span>
 		           &nbsp;&nbsp;&nbsp;{{ config['source_template_region'] }}</td>
 	           </tr>
 		       <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Target template id:</span>
 		           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ config['target_template_id'] }}</td>
 	           </tr>
 		       <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Target template project:</span>
 		           &nbsp;&nbsp;&nbsp;{{ config['target_template_project'] }}</td>
 	           </tr>
 		       <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Target template region:</span>
 		           &nbsp;&nbsp;&nbsp;&nbsp;{{ config['target_template_region'] }}</td>
 	           </tr>
			   <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
 		       <tr>
 		          <td>&nbsp;<span style="color:#0b5394;">Metadata export location:</span>
 		           &nbsp;&nbsp;{{ config['metadata_export_location'] }}</td>
 	           </tr>
			   </table>
		{% elif config['config_type'] == 'TAG_IMPORT' %}
	       <table style="background-color:#f1eeee" width="930">
		   <tr>
	          <td>&nbsp;<span style="color:#0b5394;">Template id:</span>
	           &nbsp;&nbsp;{{ config['template_id'] }}</td>
           </tr>
	       <tr>
	          <td>&nbsp;<span style="color:#0b5394;">Template project:</span>
	             &nbsp;&nbsp;{{ config['template_project'] }}</td>
           </tr>
	       <tr>
	          <td>&nbsp;<span style="color:#0b5394;">Template region:</span>
	           &nbsp;&nbsp;{{ config['template_region'] }}</td>
           </tr>
		   <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	       <tr>
	          <td>&nbsp;<span style="color:#0b5394;">Metadata import location:</span>
	           &nbsp;&nbsp;{{ config['metadata_import_location'] }}</td>
           </tr>
		   </table>
		  {% else %}
				<tr><td>&nbsp;<span style="color:#0b5394;">Tag Template Fields:</span></td></tr>
			    </table>
				<table style="background-color:#f1eeee" width="930">
				{% for field in config['fields'] %}
			         <tr>
				     <td>&nbsp;
						 {% if field['is_required'] == True %}
							<span style="color:red;">*</span>
						 {% else %}
						   &nbsp;
						 {% endif %}
						 
						{% if config['config_type'] == 'SENSITIVE_TAG_COLUMN' or config['config_type'] == 'ENTRY_CREATE' %} 
							{{ field['field_id'] }} (<span style="color:green;">{{ field['field_type'] }}</span>) 
						{% else %}
							{{ field['field_id'] }} (<span style="color:green;">{{ field['field_type'] }}</span>): 
						{% endif %}
					 </td>
				    </tr>
					{% if config['config_type'] != 'SENSITIVE_TAG_COLUMN' and config['config_type'] != 'ENTRY_CREATE' %} 
					<tr>
				     <td style="width: 450px;color:grey;text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						{% if config['config_type'] == 'STATIC_TAG_ASSET' %}
						  {{ field['field_value'] }}
						{% endif %}
						{% if config['config_type'] == 'DYNAMIC_TAG_TABLE' or config['config_type'] == 'DYNAMIC_TAG_COLUMN' %}
						  {{ field['query_expression'] }}
						{% endif %}
					 </td>
				     </tr>
					 {% endif %}
			     {% endfor %}
				 <tr><td><h6>&nbsp;&nbsp;Mandatory tag template fields are marked above by <span style="color:red;">*</span>.</h6></td></tr>
		  </table>
		{% endif %}
		   
	    {% if config['config_type'] == 'SENSITIVE_TAG_COLUMN' %}
		  <table style="background-color:#f1eeee" width="930">  
	       <tr><td>&nbsp;</td></tr>
		   <tr>
	       <td>&nbsp;<span style="color:#0b5394;">DLP Dataset:</span></td>
            </tr>
	       <tr>
	       <td>&nbsp;&nbsp;{{ config['dlp_dataset'] }}</td>
            </tr>
			</table>
	    {% endif %}
		
	    {% if config['config_type'] == 'GLOSSARY_TAG_ASSET' %}
		  <table style="background-color:#f1eeee" width="930">  
	       <tr>
	       <td>&nbsp;<span style="color:#0b5394;">Mapping Table:</span></td>
            </tr>
	       <tr>
	       <td>&nbsp;&nbsp;{{ config['mapping_table'] }}</td>
            </tr>
			</table>
	    {% endif %}
		
	    {% if config['config_type'] == 'SENSITIVE_TAG_COLUMN' %}
		  <table style="background-color:#f1eeee" width="930">  
	       <tr>
	       <td>&nbsp;<span style="color:#0b5394;">Infotype Selection Table:</span></td>
            </tr>
	       <tr>
	       <td>&nbsp;&nbsp;{{ config['infotype_selection_table'] }}</td>
            </tr>
 	       <tr>
 	       <td>&nbsp;<span style="color:#0b5394;">Infotype Classification Table:</span></td>
             </tr>
 	       <tr>
 	       <td>&nbsp;&nbsp;{{ config['infotype_classification_table'] }}</td>
             </tr>
			</table>
	    {% endif %}
		
		
		   <table style="background-color:#f1eeee" width="930">
			
			{% if config['config_type'] == 'ENTRY_CREATE' %}
				<tr>
			    <td>&nbsp;<span style="color:#0b5394;">Included Assets URIs:</span></td>
		        </tr>
				<tr>
			    <td>&nbsp;&nbsp;{{ config['included_assets_uris'] }}</td>
		        </tr>
			    <tr>
			    <td>&nbsp;<span style="color:#0b5394;">Excluded Assets URIs:</span></td>
		         </tr>
				    {% if config['excluded_assets_uris'] != '' %}
					  <tr>
				       <td>&nbsp;&nbsp;{{ config['excluded_assets_uris'] }}</td>
			          </tr>
				    {% else %}
				       <tr>
				        <td>&nbsp;&nbsp;N/A</td>
			           </tr>
			         {% endif %}
				 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
			
			{% elif config['config_type'] == 'STATIC_TAG_ASSET' or config['config_type'] == 'GLOSSARY_TAG_ASSET' %}
				<tr>
			    <td>&nbsp;<span style="color:#0b5394;">Included Assets URIs:</span></td>
		        </tr>
				<tr>
			    <td>&nbsp;&nbsp;{{ config['included_assets_uris'] }}</td>
		        </tr>
			    <tr>
			    <td>&nbsp;<span style="color:#0b5394;">Excluded Assets URIs:</span></td>
		         </tr>
				    {% if config['excluded_assets_uris'] != '' %}
					  <tr>
				       <td>&nbsp;&nbsp;{{ config['excluded_assets_uris'] }}</td>
			          </tr>
				    {% else %}
				       <tr>
				        <td>&nbsp;&nbsp;N/A</td>
			           </tr>
			         {% endif %}
				 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
				 
			{% elif config['config_type'] == 'DYNAMIC_TAG_TABLE' or config['config_type'] == 'DYNAMIC_TAG_COLUMN' or config['config_type'] == 'SENSITIVE_TAG_COLUMN' %}
			
				{% if config['config_type'] == 'DYNAMIC_TAG_COLUMN' %}
			       <tr>
			       <td>&nbsp;<span style="color:#0b5394;">Included Columns Query:</span></td>
		            </tr>
			       <tr>
			       <td>&nbsp;&nbsp;{{ config['included_columns_query'] }}</td>
		           </tr>
			    {% endif %}
					
				<tr>
			    <td>&nbsp;<span style="color:#0b5394;">Included Tables URIs:</span></td>
		        </tr>
				<tr>
			    <td>&nbsp;&nbsp;{{ config['included_tables_uris'] }}</td>
		         </tr>
			    <tr>
			    <td>&nbsp;<span style="color:#0b5394;">Excluded Tables URIs:</span></td>
		         </tr>
				    {% if config['excluded_tables_uris'] != '' %}
				      <tr>
				       <td>&nbsp;&nbsp;{{ config['excluded_tables_uris'] }}</td>
			          </tr>
				    {% else %}
				       <tr>
				        <td>&nbsp;&nbsp;N/A</td>
			           </tr>
			         {% endif %}
				 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
				 </table>
			 {% endif %}
			
		    {% if config['config_type'] == 'SENSITIVE_TAG_COLUMN' %}
			  <table style="background-color:#f1eeee" width="930">  
		       <tr>
		       <td>&nbsp;<span style="color:#0b5394;">Create Policy Tags:</span></td>
	            </tr>
		       <tr>
		       <td>&nbsp;&nbsp;{{ config['create_policy_tags'] }}</td>
	           </tr>
		       <tr>
		       <td>&nbsp;<span style="color:#0b5394;">Taxonomy ID:</span></td>
	            </tr>
		       <tr>
		       <td>&nbsp;&nbsp;{{ config['taxonomy_id'] }}</td>
	           </tr>
			   <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
			  </table>
		    {% endif %}	    
		  
			
			<table style="background-color:#f1eeee" width="930">
		    {% if 'refresh_mode' in config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Refresh Mode:</span>
			    &nbsp;{{ config['refresh_mode'] }}</td>
	         </tr>
		    {% endif %}
		    
		    {% if 'refresh_frequency' in config %}
			  <tr>
		       {% if refresh_mode == 'ON-DEMAND' %}
	              <td>&nbsp;<span style="color:#0b5394;">Refresh Frequency:</span>&nbsp;N/A</td>
			   {% else %}
		           <td>&nbsp;<span style="color:#0b5394;">Refresh Frequency:</span>
			         &nbsp;{{ config['refresh_frequency'] }}&nbsp;{{ config['refresh_unit'] }}</td>
				{% endif %}
				</tr>
			 <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		    {% endif %} 

		    {% if 'tag_history' in config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Tag History:</span>
		        &nbsp;{{ config['tag_history'] }}</td>
	         </tr>
		    {% endif %}
		    
		    {% if 'tag_stream' in config %}
		    <tr>
		    <td>&nbsp;<span style="color:#0b5394;">Tag Stream:</span>
		        &nbsp;{{ config['tag_stream'] }}</td>
	         </tr>
		    {% endif %}
	        </table>
		    <br><br>
		   <input type="hidden" name="template_id" value="{{ template_id }}">
		   <input type="hidden" name="template_project" value="{{ template_project }}">
		   <input type="hidden" name="template_region" value="{{ template_region }}">
		   <input type="hidden" name="service_account" value="{{ service_account }}">
		   <input type="hidden" name="config_uuid" value="{{ config['config_uuid'] }}">
		   <input type="hidden" name="config_type" value="{{ config['config_type'] }}">
		   </form>
		   {% endfor %}
		   <form method="post" action="/view_config_options">
		    <table>
		     <tr>
		       <td><input type="submit" value="Create Dynamic Table Tags" name="action"></td>
			   <td><input type="submit" value="Create Dynamic Column Tags" name="action"></td>
			   <td><input type="submit" value="Create Sensitive Column Tags" name="action"></td>
			</tr>
			<tr>
			   <td><input type="submit" value="Create Static Asset Tags" name="action"></td>
			   <td><input type="submit" value="Create Glossary Asset Tags" name="action"></td>
			   <td><input type="submit" value="Create Data Catalog Entries" name="action"></td> 
			</tr>
			<tr>
			   <td><input type="submit" value="Import Tags" name="action"></td>
			   <td><input type="submit" value="Restore Tags" name="action"></td>
			</tr>
			<tr>
			   <td><input type="submit" value="Return Home" name="action"></td>			
			</tr>
		    <tr>
			</table>
		   {% if config['config_type'] == 'TAG_RESTORE' %}
		   		<input type="hidden" name="template_id" value="{{ target_template_id }}">
		   	 	<input type="hidden" name="template_project" value="{{ target_template_project }}">
		   	 	<input type="hidden" name="template_region" value="{{ target_template_region }}">
		   {% else %}
		   		<input type="hidden" name="template_id" value="{{ template_id }}">
		   	 	<input type="hidden" name="template_project" value="{{ template_project }}">
		   	 	<input type="hidden" name="template_region" value="{{ template_region }}">
				<input type="hidden" name="service_account" value="{{ service_account }}">
		   {% endif %}
		   </form>        
    </body>
</html>
